@CHARSET "EUC-KR";
body{
	font-size: 9pt;
	
}
h1{
	color: #007177;
}
#garden{
	background-image: url("../../images/background.gif");
	background-repeat: no-repeat;
	background-color: #a7cece;
	border: solid white 1px;
	padding: 20px;
	margin: 20px;
	padding-left: 80px;
	height: 120px;
	font-style: italic;
	overflow: auto;	/*text가 넘칠때 자동으로 수직이동가능하게 만듬*/
}